$item-background: #171b2b;
.colorGray {
  color: #ffffff52;
}
.trading-container {
  height: 100%;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 20px;
  .table-list-box {
    padding: 0 10px;
  }
  .label2-price {
    font-weight: 600;
    font-size: 13px;
    color: #fff;
  }
  .trading-top {
    width: 100%;
    display: flex;
    .trading-top-left {
      width: 275px;
      margin-right: 6px;
      .trading-top-left-top {
        padding: 20px 0;
        background-color: $item-background;
        &.changeHeight {
          height: 100%;
        }
        .symbol-and-option {
          display: flex;
          align-items: center;
          .symbol-content {
            line-height: 18px;
            margin: 5px 0 5px 5px;
            .symbol {
              font-size: 14px;
            }
            .name {
              font-size: 12px;
              color: #a2a3aa;
            }
          }
        }
        .total-assets {
          margin-bottom: 15px;
          padding-left: 20px;
          .title {
            color: #a2a3aa;
            font-size: 15px;
            margin-bottom: 18px;
          }
          .dolar-asset {
            font-size: 14px;
            margin-right: 5px;
          }
          .cny-asset {
            color: #73767f;
            font-size: 13px;
          }
        }

        .header-search {
          display: flex;
          margin-top: 2px;
          margin-right: 20px;
          height: 32px;
          border-radius: 3px;
          line-height: 32px;
          border: 1px solid #747680;
          background: #171b2b;
          margin: 0 17px;

          .icon-search {
            margin-top: 7px;
            color: #747680;
            font-size: 16px;
          }
        }

        .coinTable {
          margin-top: 5px;

          .coinTableRowClass {
            &:hover {
              background-color: $item-background;
            }
          }
          .coinTableCellClass {
            text-align: right;
          }

          .coinTableHeaderCellClass {
            text-align: right;

            .cell {
              padding-right: 0px !important;
            }
          }
        }
      }

      .trading-top-left-bottom {
        height: 280px;
        margin-top: 6px;
        background-color: $item-background;

        .futures-account-header {
          display: flex;
          justify-content: space-between;
          padding: 8px 20px;

          .futures-account-header-title {
            color: $color_info;
            line-height: 22px;
          }

          .futures-account-header-btn {
            font-size: 12px;
            display: flex;
            color: #fff;
            background-color: $color_success;
            padding: 6px 20px;
            border-radius: 2px;
            cursor: pointer;
          }
        }

        .futures-account-content {
          padding: 20px;

          .content-item {
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            .content-item1-span,
            .content-item2-span {
              color: $color_info;

              .el-icon-question {
                cursor: pointer;
              }
            }
            .content-item3-span {
              font-size: 16px;
            }

            .content-item4-span {
              color: $color_danger;
            }
          }

          .item2,
          .item4 {
            margin-top: 15px;
          }

          .item2-1 {
            margin-top: 10px;
            color: $color_info;
          }

          .item3 {
            margin-top: 20px;
          }

          .item4 {
            color: #fff;
          }
        }
      }
    }

    .trading-top-middle {
      width: 56%;
      margin-right: 6px;
      &.centerMax {
        width: 63.2%;
      }
      // 新加当前symbol
      .symbol-text {
        background-color: $item-background;
        padding: 21px 20px 12px 20px;
        display: flex;
        background-color: #171b2b;
        align-items: center;
        .symbol-name {
          font-size: 16px;
          color: white;
          text-align: center;
          letter-spacing: 1px;
          .symbol {
            margin-top: 5px;
          }
        }
        .now-price {
          margin-left: 30px;
          .usdt-price {
            font-size: 18px;
            font-weight: bold;
            .tips-cny {
              color: #ffffff;
              font-size: 12px;
              margin-left: 10px;
              display: inline-block;
              font-weight: normal;
              opacity: 0.4;
            }
            .currentCoinType {
              color: #ffffff;
              margin-left: 10px;
              font-size: 12px;
            }
          }
          .cny-price {
            margin-top: 9px;
            font-size: 13px;
            color: #73767f;
            .margin-data {
              margin-right: 14px;
            }
            .openMarketStr {
              background: #6175ae;
              color: #fff;
              margin-left: 10px;
              border-radius: 2px;
              padding: 2px 3px;
            }
          }
        }
        .symbol-other {
          margin-left: 26px;
          .other-name {
            font-size: 14px;
            color: #fff;
          }
          .symbol-state {
            font-size: 13px;
            color: #a2a3aa;
            margin-top: 10px;
          }
        }
      }
      .trading-top-middle-top {
        background-color: $item-background;
      }

      .trading-top-middle-bottom {
        height: 330px;
        margin-top: 6px;
        background-color: $item-background;

        .trade-container,
        .trade-spot-container {
          .trade-header {
            padding: 18px 20px 0px;
            display: flex;
            justify-content: space-between;

            .header-nav {
              display: flex;

              li {
                color: $color_info;
                padding-bottom: 6px;
                cursor: pointer;

                &:nth-of-type(1) {
                  margin-right: 20px;
                }

                &.activeNav {
                  border-bottom: 2px solid #6175ae;
                  font-weight: 700;
                }
              }
            }

            .choose-leverage {
              display: flex;

              .label {
                color: $color_info;
                font-size: 13px;
                display: inline-block;
                width: 110px;
                margin-right: 5px;
                line-height: 30px;
              }
            }
          }

          .trade-content {
            padding: 5px 20px 10px;

            .avail-account-usdt {
              font-size: 12px;
              color: $color_info;
            }

            .trade-form {
              width: 100%;
              display: flex;
              justify-content: space-between;

              .el-form-up {
                border-right: 1px dashed #374265;
                width: 50%;
                padding-right: 4%;
                padding-top: 10px;
                .cny-tip {
                  font-size: 12px;
                  color: $color_info;
                  margin-top: -14px;
                  margin-bottom: -2px;
                  height: 20px;
                  line-height: 20px;
                  padding-left: 70px;
                  .cny-right {
                    padding-left: 15px;
                    background-color: #2f3448;
                  }
                }
                .buy-tip {
                  display: flex;
                  font-size: 12px;
                  color: $color_info;
                  padding-bottom: 10px;
                  .buy-open {
                    flex: 1;
                  }
                }
                .buy-btn {
                  width: 100%;
                }
              }

              .el-form-down {
                width: 46%;
                padding-top: 10px;
                .cny-tip {
                  font-size: 12px;
                  color: $color_info;
                  margin-top: -14px;
                  margin-bottom: -2px;
                  height: 20px;
                  line-height: 20px;
                  padding-left: 70px;
                  .cny-right {
                    padding-left: 15px;
                    background-color: #2f3448;
                  }
                }
                .sell-tip {
                  display: flex;
                  font-size: 12px;
                  color: $color_info;
                  padding-bottom: 10px;
                  .sell-open {
                    flex: 1;
                  }
                }
                .buy-btn {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }

    .trading-top-right {
      background-color: $item-background;
      width: 28%;
      padding: 20px 10px 20px 20px;
      position: relative;
      &.rightMin {
        width: 18%;
      }
      .max-trading {
        display: flex;
        width: 100%;
        .dishClass {
          flex: 1;
          padding-right: 10px;
        }
        .intimeClass {
          height: 809px;
          overflow: hidden;
          // @include scrollBar;
          padding-left: 10px;
          border-left: 2px dotted #6175ae;
          flex: 1;
        }
      }
      .min-trading {
        width: 100%;
        .dish-min-tab {
          padding-bottom: 14px;
          .dish-tab {
            margin-right: 15px;
            padding-bottom: 2px;
            cursor: pointer;
            &.act {
              border-bottom: 2px solid #6175ae;
            }
          }
        }
        .min-intimeClass {
          overflow: hidden;
        }
      }
    }
  }

  .trading-bottom {
    // width: 100%;
    margin-top: 6px;
    .title {
      background-color: $item-background;
      color: #a2a3aa;
      line-height: 22px;
      .tip {
        font-size: 12px;
        margin-left: 10px;
      }
    }
    .current-stocks {
      background-color: $item-background;
      min-height: 370px;
      padding: 0 20px;
      .ul-tab {
        display: flex;
        background-color: $item-background;
        margin-bottom: 15px;
        .tab-title {
          color: #a2a3aa;
          padding: 8px 0;
          cursor: pointer;
          margin-right: 20px;
          &.act {
            color: white;
            border-bottom: 2px solid #4f5f8f;
          }
        }
      }
      .table-list-item {
        border-bottom: 1px solid #374265;
        &.des-title {
          color: #a2a3aa;
          font-size: 12px;
        }
        &.des {
          font-size: 12px;
          &:hover {
            background-color: rgb(30, 34, 55);
          }
        }
        .item-des {
          color: #b0b8db;
          &.normal {
            line-height: 60px;
          }
          .scope-ptext {
            margin-top: 10px;
            padding-bottom: 5px;
          }
        }
        .arrow-data {
          border: none;
          background-color: #0c1125;
          color: #b0b8db;
        }
      }
    }
    .table-list-more {
      background-color: #0c1125;
      border: none;
      .more-title {
        font-size: 15px;
        color: white;
        font-weight: bold;
      }
      .title {
        color: #616572;
        background-color: #0c1125;
      }
      .des-item {
        flex: 1;
        color: white;
      }
    }
    .history-stocks {
      min-height: 370px;
      margin-top: 6px;
      padding: 10px 20px;
      background-color: $item-background;
      .history-all {
        float: right;
        font-size: 12px;
        cursor: pointer;
      }
    }
  }
}
.form-item {
  .choose {
    display: flex;
    .choose-item {
      flex: 1;
      margin-right: 5px;
      text-align: center;
      height: 35px;
      margin-top: 2px;
      line-height: 35px;
      cursor: pointer;
      border: 1px solid #374265;
      &.act {
        background-color: #374265;
      }
    }
  }
}
