// 颜色
$color_main: #357ce1;
$color_warn: #e6a23c;
$color_success: rgb(65, 179, 125);
$color_danger: rgb(215, 78, 90);
$color_info: #a2a3aa;
$globalBg: #171b2b;
$globalTextColor: #3d3a50;
// sidebar
$menuText: #515151;
$menuActiveText: #14af64;
$menuBg: #f8f9fb;
$menuHover: #eff1f3;
$bgGrey: #383f66;
// border
$border: #e9e8e8;
$shadow-color: #e6e6e6;
// table
$tableHeaderBg: #fafafa;
// 字体
$h1: 24px;
$h2: 18px;
$h3: 15px;
$menu: 14px;
$subMenu: 12px;
$text: 13px;
$tableTitle: 14px;

//button
$button_info_bg: rgb(133, 130, 130);
$button_info_color: #ffffff;
$button_success_bg: rgba(46, 141, 237, 1);
$button_success_color: #ffffff;
